<div class="home">
  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">✌𝓜𝓪𝓷𝓲𝓼𝓱 𝓢𝓲𝓷𝓰𝓱✌</a>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="body"><app-card></app-card></div>
</div>
